@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;

*/


*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }


/* encabezado rapido */

.contacto_rapido {
    width: 100%;
    height: 50px;
    background: #CC1A1A;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
    
}

.contacto_rapido p {
    margin-right: 100px;
}

.contacto_rapido a {
    text-decoration: none;
    color: #fff;
}

/*Links a redes sociales navbar*/
.contacto_rapido a .whats-nav {
    width: 30px;
    height: 30px;
    background:#075e54;
    margin: 0 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}

.contacto_rapido a .whats-nav:hover {
    color: #000;
  
}

.contacto_rapido a .face-nav {
    width: 30px;
    height: 30px;
    background: #3b5998;
    margin: 0 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.contacto_rapido a .face-nav:hover {
    color: #000;

}

.contacto_rapido a .insta-nav {
    width: 30px;
    height: 30px;
    margin: 0 15px;
    border-radius: 50px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}

.contacto_rapido a .insta-nav:hover {
    color: #000;

}


/* header */

nav {
    overflow: hidden;
    top: 50px;
    width: 100%;
    height: 8%;
    position: fixed;
    padding: 20px;
    background: #fff;
    z-index: 998;
    transition: all .2s ease;
    
    
}

.scl {
    transform: translateY(-50px);
    -webkit-box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.75);
    background: rgba(255, 255, 255, 0.9);

}

.izq {
    float: left;
    height: 100%;
    width: 300px;
    display: flex;
    align-items: center;
}

.izq .logo{
    display: flex;
    flex-direction: row;
    cursor:default;
}

.izq .logo .img-logo {
    background-image: url("../img/websimthsLogo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    width: 160px;
    height: 80px;

}


.der {
    float: right;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
}

.der ul li a{
    text-decoration: none;
    list-style: none;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    position: relative;
    outline: none;
}

.der ul li a:hover {
    color: #000;
    font-weight: bold;
    border-bottom: 5px solid #000;
}


.der ul li {
    display: inline-block;
    height: 100%;
    width: 150px;
    margin: 0 10px;
    text-align: center;
    transition: all .2s ease-in;
}


#check {
	display: none;
}



.check_btn{
	font-size: 30px;
	color: #000;
	float: right;
	line-height: 45px;
	margin-right: 50px;
	cursor: pointer;
	display: none;
}

#menu-responsive {
    display: none;
}


/* ---------------------------------------------------Respoisive */

@media all and (max-width:500px) {


#menu-responsive {
    display: flex;
    height: 100vh;
    width: 100%;
    position: fixed;
    background: #fff;
    top: 100px;
    z-index: 999;
    left: -100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transition: all .5s;

}

#menu-responsive ul {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    list-style: none;
    
}

#menu-responsive ul li a{
    color: #000;
    text-decoration: none;
    outline: none;
    font-size: 1.5rem;

}


.check_btn{
	display: inline-block;
	margin-right: 20px;
	height: auto;
	margin-top: 10px;
}


nav .der {
display: none;
}



/* encabezado rapido */

.contacto_rapido {
    padding-right: 2px;
}

.contacto_rapido p {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 13px;
}

/*Links a redes sociales navbar*/
.contacto_rapido a .whats-nav {

    margin: 0 5px;

}



.contacto_rapido a .face-nav {

    margin: 0 5px;

}

.contacto_rapido a .insta-nav {

    margin: 0 5px;


}



/* header */


nav {

    padding: 0;

}


.izq {
    float: left;
    height: 100%;
    width: 300px;
    display: flex;
    align-items: center;
}

.izq .logo{
    display: flex;
    flex-direction: row;
    cursor:default;
}

.izq .logo .img-logo {
    position: relative;
    top: -5px;
    background-image: url("../img/websimthsLogo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    width: 100px;
    height: 50px;

}

.izq .logo .nombre-logo {

    font-size: 20px;
}



}

/* Home section (Max) */

.home {
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif; 
    background: #fff;
    color: #E18931;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;/*creo que el error viene de arriba...*/
}                  /*intenté cambiar el color del bkg a rojo y no responde....*/

.home .wave1 {
    position: relative;
    top: 90px;
}

img {
    width: 772px;
    height: 510px;
}

.home .row {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home .row .col-1 {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home .row .col-2 {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* About Us section */


.aboutUs {
    height: 100vh;
    width: 100%;
    background: #1D1D1F;
}
.aboutUs  .contenedor__aboutUs {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.aboutUs .contenedor__aboutUs .izquierda{
    height: 80%;
    width: 60%;
    background-image: url("../img/ilya-pavlov-OqtafYT5kTw-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    position: relative;
    left: 100px;
    border-radius: 20px;
}

.aboutUs .contenedor__aboutUs .derecha {
    position: relative;
    top: 2vmax;
    right: 5.5vmax;
    height: 80%;
    width: 30%;
    background: #d7ff47;
    padding: 30px 50px 30px 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 52px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 52px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 52px 0px rgba(0,0,0,0.75);

}

.aboutUs .contenedor__aboutUs .derecha h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.8vmax;

}

.aboutUs .contenedor__aboutUs .derecha p {
    font-family: 'Roboto Mono', monospace;
    line-height: 2vmax;
    font-size: 1.3vmax;
    text-align: left;
}

.aboutUs .contenedor__aboutUs .derecha .att {
    height: auto;
    width: 100%;
}
.aboutUs .contenedor__aboutUs .derecha .att p {
    font-family: 'Roboto Mono', monospace;
    font-size: .9vmax;
    text-align: start;

}

/*btn About Us*/

.aboutUs .derecha .contenedor__aboutUs a {
    width: 160px;
    height: 100px;
    text-decoration: none;
    
    
}

.aboutUs  a .btn__aboutUs {
    position: absolute;
    height: 2vmax;
    width: 5vmax;
    transform: translate(-2.8vmax,-.5vmax);
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.aboutUs  a .btn__aboutUs i {
    text-decoration: none;
    color: #000;
    font-size: 3.5vmax;
}



/* "Muestra tu marca" Section */

.muestra {
    height: 120vh;
    width: 100%;
    background: #1D1D1F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.muestra .container__muestra {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.muestra .container__muestra .text__muestra{
    width: 50%;
    height: 90%;
    background: #00A7E1;
    border-radius: 0 20px 100px 0;
    padding: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
}

.muestra .container__muestra .text__muestra h2{
    font-size: 3.8vmax;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #fff;
    margin-bottom: 3.5vmax;

}

.muestra .container__muestra .text__muestra p{
    font-size: 1.5vmax;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.muestra .container__muestra .img__muestra{
    width: 50%;
    height: 100%;
    background-image: url('../img/img-muestra.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;

}   

.muestra .btn__muestra {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.muestra .btn__muestra a {
    text-decoration: none;
    position: relative;
    top: 3vmax;
}

.muestra .btn__muestra a .btn_muestra_real {
    height: 3vmax;
    width: 10vmax;
    background: #00A7E1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.muestra .btn__muestra a .btn_muestra_real i {
    color: #fff;
    font-size: 2vmax;

}

.paquetes {
    height: auto;
    width: 100%;

}

.paquetes .wave__up {
    position: relative;
    width: 100%;
    height: 20vmax;
    background: url(../img/wave__arriba.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.paquetes .titulos{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20vh;

}

.paquetes .titulos h2 { 
    font-size: 2.5vmax;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1.5vmax;
}

.paquetes .titulos hr { 
    width: 10%;
    border: 2px solid #000;
    margin-bottom: 1.5vmax;

}


.paquetes .titulos p { 
    font-size: 1vmax;
    font-family: 'Montserrat', sans-serif;
    max-width: 600px;
    text-align: center;
}


/* Inicia la sección de las tarjetas de la parte de arriba -----------------------------> */
.paquetes .tarjetas__parte__arriba {
    margin-top: 30px;
    height: 110vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;
    /* background: coral; */
}

.paquetes .tarjetas__parte__arriba .tarjeta {
    width: 25%;
    min-width: 25rem;
    height: 95%;
    min-height: 65rem;
    /* background: darkcyan; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    
    -webkit-box-shadow: 4px 9px 54px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 9px 54px -8px rgba(0,0,0,0.75);
    box-shadow: 4px 9px 54px -8px rgba(0,0,0,0.75);

}

.paquetes .tarjetas__parte__arriba .tarjeta .arriba {
    width: 100%;
    height: 40%;
    padding: 1vmax;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

.paquetes .tarjetas__parte__arriba .tarjeta .arriba .img__contenedor__menuDigital {
    width: 100%;
    height: 12vmax;
    background: #FFBD59;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform:translateY(-2.5vmax);
    border-radius: 10px;

    -webkit-box-shadow: 4px 9px 23px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 9px 23px -9px rgba(0,0,0,0.75);
    box-shadow: 4px 9px 23px -9px rgba(0,0,0,0.75);

}

.paquetes .tarjetas__parte__arriba .tarjeta .arriba .img__menuDigital {
    width: 90%;
    height: 100%;
    background: url('../img/menuDigital.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55%;
    

}

.paquetes .tarjetas__parte__arriba .tarjeta .arriba .img__contenedor__webPersonal {
    width: 100%;
    height: 12vmax;
    background: #338BFF;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform:translateY(-2.5vmax);
    border-radius: 10px;

    -webkit-box-shadow: 4px 9px 23px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 9px 23px -9px rgba(0,0,0,0.75);
    box-shadow: 4px 9px 23px -9px rgba(0,0,0,0.75);

}


.paquetes .tarjetas__parte__arriba .tarjeta .arriba .img__webPersonal {
    width: 90%;
    height: 100%;
    background: url('../img/webPersonal.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    
}



.paquetes .tarjetas__parte__arriba .tarjeta .arriba .titulo__subtitulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    
}

.paquetes .tarjetas__parte__arriba .tarjeta .arriba .titulo__subtitulo h2 {
    font-size: 2vmax;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: relative;
    transform: translateY(-1.5vmax);
}

.paquetes .tarjetas__parte__arriba .tarjeta .arriba .titulo__subtitulo p {
    font-size: 1vmax;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    /* transform: translateY(1vmax); */
}

.paquetes .tarjetas__parte__arriba .tarjeta hr {
    width: 90%;
    border: .5px solid grey;

}




.paquetes .tarjetas__parte__arriba .tarjeta .abajo {
    width: 100%;
    height: 60%;
    padding: 1vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.paquetes .tarjetas__parte__arriba .tarjeta .abajo ul {
    height: 70%;
    width: 100%;

}

.paquetes .tarjetas__parte__arriba .tarjeta .abajo li {
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: .9vmax;
    font-weight: lighter;
    margin-bottom: 20px;
    list-style: none;
}

.paquetes .tarjetas__parte__arriba .tarjeta .abajo li::before {
    content: '✓';
    margin-right: 1vmax;
    font-weight: bold;
    
}


.paquetes .tarjetas__parte__arriba .tarjeta .abajo strong {
    font-family: 'Montserrat', sans-serif;
    font-size: 1vmax;

}

.paquetes .tarjetas__parte__arriba .tarjeta .abajo a {
    text-decoration: none;
    list-style: none;
    width: 60%;
    height: 50px;
    
}
.paquetes .tarjetas__parte__arriba .tarjeta .abajo a .btn__menu {
    width: 100%;
    height: 100%;
    background: #FFBD59;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1vmax;
    border-radius: 50px;
}

.paquetes .tarjetas__parte__arriba .tarjeta .abajo a .btn__webPersonal {
    width: 100%;
    height: 100%;
    background: #338BFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1vmax;
    border-radius: 50px;
}




/* Tarjetas de la parte de abajo ---------------------------------------------> */
.paquetes .tarjetas__parte__abajo {
    margin-top: 100px;
    height: 115vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;
    /* background: crimson; */
}



.paquetes .tarjetas__parte__abajo .tarjeta {
    width: 25%;
    min-width: 25rem;
    height: 90%;
    min-height: 65rem;
    /* background: darkcyan; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;

    -webkit-box-shadow: 4px 9px 54px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 9px 54px -8px rgba(0,0,0,0.75);
    box-shadow: 4px 9px 54px -8px rgba(0,0,0,0.75);

}

.paquetes .tarjetas__parte__abajo .tarjeta .arriba {
    width: 100%;
    height: 40%;
    padding: 1vmax;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

.paquetes .tarjetas__parte__abajo .tarjeta .arriba .img__contenedor__webBasico {
    width: 100%;
    height: 12vmax;
    background: #00A347;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform:translateY(-2.5vmax);
    border-radius: 10px;

    -webkit-box-shadow: 4px 9px 23px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 9px 23px -9px rgba(0,0,0,0.75);
    box-shadow: 4px 9px 23px -9px rgba(0,0,0,0.75);

}

.paquetes .tarjetas__parte__abajo .tarjeta .arriba .img__webBasico {
    width: 90%;
    height: 100%;
    background: url('../img/webBasico.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    

}

.paquetes .tarjetas__parte__abajo .tarjeta .arriba .img__contenedor__webAvanzado {
    width: 100%;
    height: 12vmax;
    background: #D4EDF4;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform:translateY(-2.5vmax);
    border-radius: 10px;

    -webkit-box-shadow: 4px 9px 23px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 9px 23px -9px rgba(0,0,0,0.75);
    box-shadow: 4px 9px 23px -9px rgba(0,0,0,0.75);

}


.paquetes .tarjetas__parte__abajo .tarjeta .arriba .img__webAvanzado {
    width: 90%;
    height: 100%;
    background: url('../img/webAvanzado.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    
}



.paquetes .tarjetas__parte__abajo .tarjeta .arriba .titulo__subtitulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    
}

.paquetes .tarjetas__parte__abajo .tarjeta .arriba .titulo__subtitulo h2 {
    font-size: 2vmax;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: relative;
    transform: translateY(-1.5vmax);
}

.paquetes .tarjetas__parte__abajo .tarjeta .arriba .titulo__subtitulo p {
    font-size: 1vmax;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    /* transform: translateY(1vmax); */
}

.paquetes .tarjetas__parte__abajo .tarjeta hr {
    width: 90%;
    border: .5px solid grey;

}




.paquetes .tarjetas__parte__abajo .tarjeta .abajo {
    width: 100%;
    height: 60%;
    padding: 1vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.paquetes .tarjetas__parte__abajo .tarjeta .abajo ul {
    height: 70%;
    width: 100%;

}

.paquetes .tarjetas__parte__abajo .tarjeta .abajo li {
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: .9vmax;
    font-weight: lighter;
    margin-bottom: 20px;
    list-style: none;
    line-height: 15px;
    

}

.paquetes .tarjetas__parte__abajo .tarjeta .abajo li::before {
    content: '✓';
    margin-right: 1vmax;
    font-weight: bold;
    
}


.paquetes .tarjetas__parte__abajo .tarjeta .abajo strong {
    font-family: 'Montserrat', sans-serif;
    font-size: 1vmax;

}

.paquetes .tarjetas__parte__abajo .tarjeta .abajo a {
    text-decoration: none;
    list-style: none;
    width: 60%;
    height: 50px;
}
.paquetes .tarjetas__parte__abajo .tarjeta .abajo a .btn__webBasico {
    width: 100%;
    height: 100%;
    background: #00A347;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1vmax;
    border-radius: 50px;
}

.paquetes .tarjetas__parte__abajo .tarjeta .abajo a .btn__webAvanzado {
    width: 100%;
    height: 100%;
    background: #D4EDF4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1vmax;
    border-radius: 50px;
}



/* Boton final de cotizacion (seccion de paquetes) */

.btn__cotizacion {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 100px;
}

.paquetes .boton__paquetes__cotizacion {
    height: 100px;
    width: 35%;
    background: #1D1D1F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 35px;

}

.paquetes .boton__paquetes__cotizacion .flecha {
    height: 100%;
    width: 20%;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

} 

.paquetes .boton__paquetes__cotizacion .texto {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px 20px 50px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;

}



/* Seccion de "ventajas" --------------------------------------------->  */

.ventajas {
    width: 100%;
    height: 100vh;
    background: #1D1D1F;
}


.ventajas .wave__down {
    position: relative;
    width: 100%;
    height: 20vmax;
    background: url(../img/wave.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.ventajas .contenedor__porqueSitioWeb {
    width: 100%;
    height: 95%;
    /* background: cadetblue; */
    background: #1D1D1F;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    position: relative; 
    transform: translateY(-150px);
}

.ventajas .contenedor__porqueSitioWeb .contenedor {
    height: 85%;
    width: 60%;
    background: #E32626;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 100px 30px 100px;
    border-radius: 60px 0 0 40px;
}


.ventajas .contenedor__porqueSitioWeb .contenedor h2 {
    font-size: 7vmin;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;

}
.ventajas .contenedor__porqueSitioWeb .contenedor p {
    font-size: 3vmin;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: start;
    font-weight: lighter;

}

.ventajas .contenedor__porqueSitioWeb .rocket__contenedor {
    height: 85%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.ventajas .contenedor__porqueSitioWeb .rocket__contenedor .rocket {
    position: relative;
    background: url(../img/undraw_Outer_space_drqu.svg);
    height: 60%;
    width: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}



.ventajas .btn__ventajas__down {
    position: relative;
    width: 100%;
    height: 10%;
    background: #1D1D1F;
    transform: translateY(-150px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.ventajas .btn__ventajas__down .btn__down {
    width: 15%;
    height: 70%;
    background: #575A89;
    color: #fff;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}



/*Lenguajes de programación --> JP*/

.Lenguajes {
    height: 50vh;
    width: 100%;
    background: chocolate;
}




/* Section "Portafolio" */

/* .portafolio {
    width: 100%;
    height: 100vh;
} */







