@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;

*/


*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }


/* encabezado rapido */

.contacto_rapido {
    width: 100%;
    height: 50px;
    background: #CC1A1A;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
    
}

.contacto_rapido p {
    margin-right: 100px;
}

.contacto_rapido a {
    text-decoration: none;
    color: #fff;
}

/*Links a redes sociales navbar*/
.contacto_rapido a .whats-nav {
    width: 30px;
    height: 30px;
    background:#075e54;
    margin: 0 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}

.contacto_rapido a .whats-nav:hover {
    color: #000;
  
}

.contacto_rapido a .face-nav {
    width: 30px;
    height: 30px;
    background: #3b5998;
    margin: 0 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.contacto_rapido a .face-nav:hover {
    color: #000;

}

.contacto_rapido a .insta-nav {
    width: 30px;
    height: 30px;
    margin: 0 15px;
    border-radius: 50px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}

.contacto_rapido a .insta-nav:hover {
    color: #000;

}


/* header */

nav {
    overflow: hidden;
    top: 50px;
    width: 100%;
    height: 8%;
    position: fixed;
    padding: 20px;
    background: #fff;
    z-index: 998;
    transition: all .2s ease;
    
    
}

.scl {
    transform: translateY(-50px);
    -webkit-box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.75);
    background: rgba(255, 255, 255, 0.9);

}

.izq {
    float: left;
    height: 100%;
    width: 300px;
    display: flex;
    align-items: center;
}

.izq .logo{
    display: flex;
    flex-direction: row;
    cursor:default;
}

.izq .logo .img-logo {
    background-image: url("../img/websimthsLogo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    width: 160px;
    height: 80px;

}


.der {
    float: right;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
}

.der ul li a{
    text-decoration: none;
    list-style: none;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    position: relative;
    outline: none;
}

.der ul li a:hover {
    color: #000;
    font-weight: bold;
    border-bottom: 5px solid #000;
}


.der ul li {
    display: inline-block;
    height: 100%;
    width: 150px;
    margin: 0 10px;
    text-align: center;
    transition: all .2s ease-in;
}


#check {
	display: none;
}



.check_btn{
	font-size: 30px;
	color: #000;
	float: right;
	line-height: 45px;
	margin-right: 50px;
	cursor: pointer;
	display: none;
}

#menu-responsive {
    display: none;
}


/* ---------------------------------------------------Responsive */

@media all and (max-width:500px) {


#menu-responsive {
    display: flex;
    height: 100vh;
    width: 100%;
    position: fixed;
    background: #fff;
    top: 100px;
    z-index: 999;
    left: -100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transition: all .5s;

}

#menu-responsive ul {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    list-style: none;
    
}

#menu-responsive ul li a{
    color: #000;
    text-decoration: none;
    outline: none;
    font-size: 1.5rem;

}


.check_btn{
	display: inline-block;
	margin-right: 20px;
	height: auto;
	margin-top: 10px;
}


nav .der {
display: none;
}



/* encabezado rapido */

.contacto_rapido {
    padding-right: 2px;
}

.contacto_rapido p {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 13px;
}

/*Links a redes sociales navbar*/
.contacto_rapido a .whats-nav {

    margin: 0 5px;

}



.contacto_rapido a .face-nav {

    margin: 0 5px;

}

.contacto_rapido a .insta-nav {

    margin: 0 5px;


}



/* header */


nav {

    padding: 0;

}


.izq {
    float: left;
    height: 100%;
    width: 300px;
    display: flex;
    align-items: center;
}

.izq .logo{
    display: flex;
    flex-direction: row;
    cursor:default;
}

.izq .logo .img-logo {
    position: relative;
    top: -5px;
    background-image: url("../img/websimthsLogo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    width: 100px;
    height: 50px;

}

.izq .logo .nombre-logo {

    font-size: 20px;
}



}

/* Home section (Max) */

.home {
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif; 
    background: #fff;
    color: #E18931;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;/*creo que el error viene de arriba...*/
    /*intenté cambiar el color del bkg a rojo y no responde....*/
}   
   





.home .wave1 {
    position: relative;
    top: 90px;
}

img {
    width: 772px;
    height: 510px;
}

.home .row {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media all and (max-width:500px) {

    .home .row {
        flex-direction: column;
        
    }

}

.home .row .col-1 {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home .row .col-2 {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home .row .col-2 h2 {
    font-size: 48px;
    text-align: center;
}

.home .row .col-2 h4 {
    font-size: 20px;
    text-align: center;
}

/* About Us section */


.aboutUs {
    height: 100vh;
    width: 100%;
    background: #1D1D1F;
}
.aboutUs  .contenedor__aboutUs {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.aboutUs .contenedor__aboutUs .izquierda{
    height: 80%;
    width: 60%;
    background-image: url("../img/ilya-pavlov-OqtafYT5kTw-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    position: relative;
    left: 100px;
    border-radius: 20px;
}

.aboutUs .contenedor__aboutUs .derecha {
    position: relative;
    top: 2vmax;
    right: 5.5vmax;
    height: 80%;
    width: 30%;
    background: #d7ff47;
    padding: 30px 50px 30px 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 52px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 52px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 52px 0px rgba(0,0,0,0.75);

}

.aboutUs .contenedor__aboutUs .derecha h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.8vmax;

}

.aboutUs .contenedor__aboutUs .derecha p {
    font-family: 'Roboto Mono', monospace;
    line-height: 2vmax;
    font-size: 1.3vmax;
    text-align: left;
}

.aboutUs .contenedor__aboutUs .derecha .att {
    height: auto;
    width: 100%;
}
.aboutUs .contenedor__aboutUs .derecha .att p {
    font-family: 'Roboto Mono', monospace;
    font-size: .9vmax;
    text-align: start;

}

/*btn About Us*/

.aboutUs .derecha .contenedor__aboutUs a {
    width: 160px;
    height: 100px;
    text-decoration: none;
    
    
}

.aboutUs  a .btn__aboutUs {
    position: absolute;
    height: 2vmax;
    width: 5vmax;
    transform: translate(-2.8vmax,-.5vmax);
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.aboutUs  a .btn__aboutUs i {
    text-decoration: none;
    color: #000;
    font-size: 3.5vmax;
}

/* Repsponsive para laptops  */
@media all and (max-width:1500px) { 
    .aboutUs .contenedor__aboutUs .derecha {
        width: 40%;
    }
    .aboutUs .contenedor__aboutUs .derecha p  {
        font-size: 1.8vmax;
    }
    .aboutUs .contenedor__aboutUs .derecha .att p  {
        font-size: 1.2vmax;
    }
    .aboutUs .contenedor__aboutUs .derecha h3 {
        font-size: 2.2vmax;
    }



}


/* "Muestra tu marca" Section */

.muestra {
    height: 120vh;
    width: 100%;
    background: #1D1D1F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.muestra .container__muestra {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.muestra .container__muestra .text__muestra{
    width: 50%;
    height: 90%;
    background: #00A7E1;
    border-radius: 0 20px 100px 0;
    padding: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
}

.muestra .container__muestra .text__muestra h2{
    font-size: 3.8vmax;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #fff;
    margin-bottom: 3.5vmax;

}

.muestra .container__muestra .text__muestra p{
    font-size: 1.5vmax;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.muestra .container__muestra .img__muestra{
    width: 50%;
    height: 100%;
    background-image: url('../img/img-muestra.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;

}   

.muestra .btn__muestra {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.muestra .btn__muestra a {
    text-decoration: none;
    position: relative;
    top: 3vmax;
}

.muestra .btn__muestra a .btn_muestra_real {
    height: 3vmax;
    width: 10vmax;
    background: #00A7E1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.muestra .btn__muestra a .btn_muestra_real i {
    color: #fff;
    font-size: 2vmax;

}

.paquetes {
    height: auto;
    width: 100%;

}

.paquetes .wave__up {
    position: relative;
    width: 100%;
    height: 20vmax;
    background: url(../img/wave__arriba.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.paquetes .titulos{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20vh;

}

.paquetes .titulos h2 { 
    font-size: 2.5vmax;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1.5vmax;
}

.paquetes .titulos hr { 
    width: 10%;
    border: 2px solid #000;
    margin-bottom: 1.5vmax;

}


.paquetes .titulos p { 
    font-size: 1vmax;
    font-family: 'Montserrat', sans-serif;
    max-width: 600px;
    text-align: center;
}



/* Repsponsive para laptops  */
@media (max-width:1500px) { 
    .muestra .container__muestra .text__muestra p {
        font-size: 2vmax;
    }
    .muestra .container__muestra{
        height: 65%;
    }

    .muestra .btn__muestra a .btn_muestra_real {
        width: 20vmax;
        height: 5vmax;
    }

    .paquetes .titulos h2 {
        font-size: 3vmax;
    }

    .paquetes .titulos p {
        font-size: 1.3vmax;
    }


}




/* Inicia la sección de las tarjetas de la parte de arriba -----------------------------> */
.paquetes .tarjetas__parte__arriba {
    margin-top: 30px;
    height: 110vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;
    /* background: coral; */
}

.paquetes .tarjetas__parte__arriba .tarjeta {
    width: 25%;
    min-width: 25rem;
    height: 95%;
    min-height: 65rem;
    /* background: darkcyan; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    
    -webkit-box-shadow: 4px 9px 54px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 9px 54px -8px rgba(0,0,0,0.75);
    box-shadow: 4px 9px 54px -8px rgba(0,0,0,0.75);

}

.paquetes .tarjetas__parte__arriba .tarjeta .arriba {
    width: 100%;
    height: 40%;
    padding: 1vmax;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

.paquetes .tarjetas__parte__arriba .tarjeta .arriba .img__contenedor__menuDigital {
    width: 100%;
    height: 12vmax;
    background: #FFBD59;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform:translateY(-2.5vmax);
    border-radius: 10px;

    -webkit-box-shadow: 4px 9px 23px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 9px 23px -9px rgba(0,0,0,0.75);
    box-shadow: 4px 9px 23px -9px rgba(0,0,0,0.75);

}

.paquetes .tarjetas__parte__arriba .tarjeta .arriba .img__menuDigital {
    width: 90%;
    height: 100%;
    background: url('../img/menuDigital.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55%;
    

}

.paquetes .tarjetas__parte__arriba .tarjeta .arriba .img__contenedor__webPersonal {
    width: 100%;
    height: 12vmax;
    background: #338BFF;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform:translateY(-2.5vmax);
    border-radius: 10px;

    -webkit-box-shadow: 4px 9px 23px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 9px 23px -9px rgba(0,0,0,0.75);
    box-shadow: 4px 9px 23px -9px rgba(0,0,0,0.75);

}


.paquetes .tarjetas__parte__arriba .tarjeta .arriba .img__webPersonal {
    width: 90%;
    height: 100%;
    background: url('../img/webPersonal.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    
}



.paquetes .tarjetas__parte__arriba .tarjeta .arriba .titulo__subtitulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    
}

.paquetes .tarjetas__parte__arriba .tarjeta .arriba .titulo__subtitulo h2 {
    font-size: 2vmax;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: relative;
    transform: translateY(-1.5vmax);
}

.paquetes .tarjetas__parte__arriba .tarjeta .arriba .titulo__subtitulo p {
    font-size: 1vmax;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    /* transform: translateY(1vmax); */
}

.paquetes .tarjetas__parte__arriba .tarjeta hr {
    width: 90%;
    border: .5px solid grey;

}




.paquetes .tarjetas__parte__arriba .tarjeta .abajo {
    width: 100%;
    height: 60%;
    padding: 1vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.paquetes .tarjetas__parte__arriba .tarjeta .abajo ul {
    height: 70%;
    width: 100%;

}

.paquetes .tarjetas__parte__arriba .tarjeta .abajo li {
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: .9vmax;
    font-weight: lighter;
    margin-bottom: 20px;
    list-style: none;
}

.paquetes .tarjetas__parte__arriba .tarjeta .abajo li::before {
    content: '✓';
    margin-right: 1vmax;
    font-weight: bold;
    
}


.paquetes .tarjetas__parte__arriba .tarjeta .abajo strong {
    font-family: 'Montserrat', sans-serif;
    font-size: 1vmax;

}

.paquetes .tarjetas__parte__arriba .tarjeta .abajo a {
    text-decoration: none;
    list-style: none;
    width: 60%;
    height: 50px;
    
}
.paquetes .tarjetas__parte__arriba .tarjeta .abajo a .btn__menu {
    width: 100%;
    height: 100%;
    background: #FFBD59;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1vmax;
    border-radius: 50px;
}

.paquetes .tarjetas__parte__arriba .tarjeta .abajo a .btn__webPersonal {
    width: 100%;
    height: 100%;
    background: #338BFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1vmax;
    border-radius: 50px;
}

/* Repsponsive para laptops  */
@media all and (max-width:1500px) { 


    .paquetes .tarjetas__parte__arriba .tarjeta .arriba {
        height: 35%;
    }
    .paquetes .tarjetas__parte__arriba .tarjeta .abajo {
        height: 65%;
    }


    .paquetes .tarjetas__parte__arriba {
        align-items: flex-start;
        height: 115vh;
    }
    .paquetes .tarjetas__parte__arriba .tarjeta {
        min-height: 55rem;
        height: 90%;
    
    }

    .paquetes .tarjetas__parte__arriba .tarjeta .arriba .titulo__subtitulo h2 {
        font-size: 2vmax;
        transform: translateY(0);
    }
    .paquetes .tarjetas__parte__arriba .tarjeta .arriba .titulo__subtitulo p {
        transform: translateY(1.3vmax);
        font-size: 1.2vmax;
    }

    .paquetes .tarjetas__parte__arriba .tarjeta .abajo li {
        font-size: 1.2vmax;
    }


    .paquetes .tarjetas__parte__arriba .tarjeta .arriba .img__menuDigital {
        width: 60%;
        height: 80%;
    }

    .paquetes .tarjetas__parte__arriba .tarjeta .arriba .img__webPersonal {
        width: 75%;
        height: 95%;
    }

    .paquetes .tarjetas__parte__arriba .tarjeta .abajo strong {
        font-size: 1.5vmax;
    }

    .paquetes .tarjetas__parte__arriba .tarjeta .abajo a .btn__menu {
        font-size: 1.5vmax;
    }
    .paquetes .tarjetas__parte__arriba .tarjeta .abajo a .btn__webPersonal {
        font-size: 1.5vmax;
    }


}




/* Tarjetas de la parte de abajo ---------------------------------------------> */
.paquetes .tarjetas__parte__abajo {
    margin-top: 100px;
    height: 115vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;
    /* background: crimson; */
}



.paquetes .tarjetas__parte__abajo .tarjeta {
    width: 25%;
    min-width: 25rem;
    height: 90%;
    min-height: 65rem;
    /* background: darkcyan; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;

    -webkit-box-shadow: 4px 9px 54px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 9px 54px -8px rgba(0,0,0,0.75);
    box-shadow: 4px 9px 54px -8px rgba(0,0,0,0.75);

}

.paquetes .tarjetas__parte__abajo .tarjeta .arriba {
    width: 100%;
    height: 40%;
    padding: 1vmax;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

.paquetes .tarjetas__parte__abajo .tarjeta .arriba .img__contenedor__webBasico {
    width: 100%;
    height: 12vmax;
    background: #00A347;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform:translateY(-2.5vmax);
    border-radius: 10px;

    -webkit-box-shadow: 4px 9px 23px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 9px 23px -9px rgba(0,0,0,0.75);
    box-shadow: 4px 9px 23px -9px rgba(0,0,0,0.75);

}

.paquetes .tarjetas__parte__abajo .tarjeta .arriba .img__webBasico {
    width: 90%;
    height: 100%;
    background: url('../img/webBasico.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    

}

.paquetes .tarjetas__parte__abajo .tarjeta .arriba .img__contenedor__webAvanzado {
    width: 100%;
    height: 12vmax;
    background: #D4EDF4;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform:translateY(-2.5vmax);
    border-radius: 10px;

    -webkit-box-shadow: 4px 9px 23px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 9px 23px -9px rgba(0,0,0,0.75);
    box-shadow: 4px 9px 23px -9px rgba(0,0,0,0.75);

}


.paquetes .tarjetas__parte__abajo .tarjeta .arriba .img__webAvanzado {
    width: 90%;
    height: 100%;
    background: url('../img/webAvanzado.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    
}



.paquetes .tarjetas__parte__abajo .tarjeta .arriba .titulo__subtitulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    
}

.paquetes .tarjetas__parte__abajo .tarjeta .arriba .titulo__subtitulo h2 {
    font-size: 2vmax;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: relative;
    transform: translateY(-1.5vmax);
}

.paquetes .tarjetas__parte__abajo .tarjeta .arriba .titulo__subtitulo p {
    font-size: 1vmax;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    /* transform: translateY(1vmax); */
}

.paquetes .tarjetas__parte__abajo .tarjeta hr {
    width: 90%;
    border: .5px solid grey;

}




.paquetes .tarjetas__parte__abajo .tarjeta .abajo {
    width: 100%;
    height: 60%;
    padding: 1vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.paquetes .tarjetas__parte__abajo .tarjeta .abajo ul {
    height: 70%;
    width: 100%;

}

.paquetes .tarjetas__parte__abajo .tarjeta .abajo li {
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: .9vmax;
    font-weight: lighter;
    margin-bottom: 20px;
    list-style: none;
    line-height: 15px;
    

}

.paquetes .tarjetas__parte__abajo .tarjeta .abajo li::before {
    content: '✓';
    margin-right: 1vmax;
    font-weight: bold;
    
}


.paquetes .tarjetas__parte__abajo .tarjeta .abajo strong {
    font-family: 'Montserrat', sans-serif;
    font-size: 1vmax;

}

.paquetes .tarjetas__parte__abajo .tarjeta .abajo a {
    text-decoration: none;
    list-style: none;
    width: 60%;
    height: 50px;
}
.paquetes .tarjetas__parte__abajo .tarjeta .abajo a .btn__webBasico {
    width: 100%;
    height: 100%;
    background: #00A347;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1vmax;
    border-radius: 50px;
}

.paquetes .tarjetas__parte__abajo .tarjeta .abajo a .btn__webAvanzado {
    width: 100%;
    height: 100%;
    background: #D4EDF4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1vmax;
    border-radius: 50px;
}


/* Repsponsive para laptops  */
@media all and (max-width:1500px) { 

    .paquetes .tarjetas__parte__abajo {
        align-items: flex-start;
    }
    .paquetes .tarjetas__parte__abajo .tarjeta {
        min-height: 58rem;
        height: 85%;
    
    }
    .paquetes .tarjetas__parte__abajo .tarjeta .arriba {
        height: 35%;
    }

    .paquetes .tarjetas__parte__abajo .tarjeta .abajo {
        height: 65%;
    }
    .paquetes .tarjetas__parte__abajo .tarjeta .arriba .titulo__subtitulo p {
        font-size: 1.2vmax;
        transform: translateY(1.8vmax);
    }
    .paquetes .tarjetas__parte__abajo .tarjeta .abajo li {
        font-size: 1.2vmax;
    }

    .paquetes .tarjetas__parte__abajo .tarjeta .arriba .img__webBasico {
        width: 70%;
        height: 80%;
    }

    .paquetes .tarjetas__parte__abajo .tarjeta .arriba .img__webAvanzado {
        width: 75%;
        height: 85%;
        background-size: 55%;
    }


    .paquetes .tarjetas__parte__abajo .tarjeta .arriba .titulo__subtitulo h2 {
        transform: translateY(0);
    }


    .paquetes .tarjetas__parte__abajo .tarjeta .abajo strong {
        font-size: 1.5vmax;
    }

    .paquetes .tarjetas__parte__abajo .tarjeta .abajo a .btn__webBasico {
        font-size: 1.5vmax;
    }

    .paquetes .tarjetas__parte__abajo .tarjeta .abajo a .btn__webAvanzado {
        font-size: 1.5vmax;
    }


    




}




/* Boton final de cotizacion (seccion de paquetes) */

.btn__cotizacion {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 100px;
}

.paquetes .boton__paquetes__cotizacion {
    height: 100px;
    width: 35%;
    background: #1D1D1F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 35px;

}

.paquetes .boton__paquetes__cotizacion .flecha {
    height: 100%;
    width: 20%;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

} 

.paquetes .boton__paquetes__cotizacion .texto {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px 20px 50px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;

}



/* Seccion de "ventajas" */ 

.ventajas {
    width: 100%;
    height: 100vh;
    background: #1D1D1F;
}


.ventajas .wave__down {
    position: relative;
    width: 100%;
    height: 20vmax;
    background: url(../img/wave.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.ventajas .contenedor__porqueSitioWeb {
    width: 100%;
    height: 95%;
    /* background: cadetblue; */
    background: #1D1D1F;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    position: relative; 
    transform: translateY(-150px);
}

.ventajas .contenedor__porqueSitioWeb .contenedor {
    height: 85%;
    width: 60%;
    background: #E32626;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 100px 30px 100px;
    border-radius: 60px 0 0 40px;
}


.ventajas .contenedor__porqueSitioWeb .contenedor h2 {
    font-size: 7vmin;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;

}
.ventajas .contenedor__porqueSitioWeb .contenedor p {
    font-size: 3vmin;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: start;
    font-weight: lighter;

}

.ventajas .contenedor__porqueSitioWeb .rocket__contenedor {
    height: 85%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.ventajas .contenedor__porqueSitioWeb .rocket__contenedor .rocket {
    position: relative;
    background: url(../img/undraw_Outer_space_drqu.svg);
    height: 60%;
    width: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}



.ventajas .btn__ventajas__down {
    position: relative;
    width: 100%;
    height: 10%;
    background: #1D1D1F;
    transform: translateY(-150px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.ventajas .btn__ventajas__down .btn__down {
    width: 15%;
    height: 70%;
    background: #575A89;
    color: #fff;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}


/* Repsponsive para laptops  */
@media all and (max-width:1500px) {  
    .ventajas .contenedor__porqueSitioWeb .rocket__contenedor .rocket {
        height: 70%;
        width: 70%;
        background-size: 100%;
    }

    .ventajas .contenedor__porqueSitioWeb .contenedor {
        padding: 20px 90px 20px 90px; 
    }

    .ventajas .contenedor__porqueSitioWeb .contenedor h2 {
        font-size: 5vmin;
    }

    .ventajas .contenedor__porqueSitioWeb .contenedor p {
        font-size: 2.8vmin;
    }


}




/*Lenguajes de programación --> JP*/

.Lenguajes {
    height: 50vh;
    width: 100%;
    background: chocolate;
}




/* Section "Portafolio" */

.portafolio {
    width: 100%;
    height: 100vh;
    margin-top: 200px;
}

.portafolio .todoport h2{
    font-size: 53px;
    text-align: center;
    align-items: center;
    text-decoration: underline;
}

.portafolio .todoport .parrafo{
    width: 100%;
    height: auto;
    padding: 50px 400px 0 400px;
    /*align-items: center;
    text-align: center;*/
}

.portafolio .todoport .parrafo p{
    /*align-items: center;*/
    font-size: 20px;
    /* font-weight: bold; */
    text-align: center;
}

.portafolio .todoport .contenedorp{
    width: 1000px;
    height: 400px;
    border-radius: 20px;
    background: #ccc;
    margin: 120px auto;
    display: flex;
}

.portafolio .col{
    height: 100%;
    flex: 1;
    color: #fff;
    box-sizing: border-box;
    padding: 25px;
    position: relative;
    transition: 0.6s;
}

.portafolio .col:nth-child(1){
    background: #338BFF;
}

.portafolio .col:nth-child(2){
    background: #FFBD59;
}

.portafolio .col:nth-child(3){
    background: #6ee2f1;
}

.portafolio h3{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.portafolio .caption{
    max-width: 230px;
    font-size: 12px;
    margin: 28px 0;
    display: none;
}

.portafolio .caption button{
    border: 1px solid #fff;
    background: transparent;
    outline: none;
    padding: 8px 18px;
    color: #fff;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 12px;
}

.portafolio .caption button a{
    color: white;
}

.portafolio .col img {
    width: 200px;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
}

.portafolio .col:hover{
    flex-grow: 2.5;
}

.portafolio .col:hover .caption{
    display: block;
}

.portafolio .col:hover h3{
    text-align: left;
}


/* Repsponsive para laptops  */
@media all and (max-width:1500px) {  

    .portafolio .todoport .contenedorp {
        height: 450px;
        width: 80%;
        margin: 90px auto;
    }

    .portafolio h3 {
        font-size: 25px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;

    }

    .portafolio .caption {
        font-size: 15px;

    }



}

/*Fin de portafolio*/


/*Lenguajes*/

.container1{
    width: 100%;
    height: 100vh;
    background-color: #1D1D1F;
    padding: 0 20px 0 0;
}

.container1 .row{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: row;

}

.container1 .row .colu{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    
}

.container1 .row .colu h2{
    color: white;
    font-size: 60px;
    font-weight: bold;
    
}

.container1 .row .colu p{
    color: white;
    font-size: 30px;
    line-height: 25px;
    margin-top: 9vmax;
    font-family: 'Montserrat', sans-serif;
}

.colu1{
    
    height: 100%;
    width: 50%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.cardi{
    width: 200px;
    height: 230px;
    display: flex;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 15px;
    background-color: #00A7E1;
    text-align: center;
    font-size: 1000%;
    align-items: center;
    justify-content: center;
}


/* Repsponsive para laptops  */
@media all and (max-width:1500px) {   



}






/*Fin Lenguajes*/

/* Formulario de contacto */

.contactform .wave_up1{
    position: relative;
    width: 100%;
    height: 20vmax;
    background: url(../img/wave__arriba.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    background: #fff;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper{
    width: 85%;
    height: 85%;
    background: #00A7E1;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 3px 3px 5px 3px #999;
}

.circle-1{
    height: 300px;
    width: 300px;
    border-radius: 100%;
    background: #1D1D1F;
    position: absolute;
    right: -100px;
    bottom: -100px;
    z-index: 10;
}

.circle-2{
    height: 400px;
    width: 400px;
    border-radius: 100%;
    background: #ddd;
    position: absolute;
    right: -150px;
    bottom: -150px;
}

.form-content{
    background: #fff;
    width: 40%;
    height: 90%;
    padding: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    z-index: 100;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.form-title{
    width: 300px;
    height: 100%;
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    position: relative;
}

.form-title p{
    position: absolute;
    top: 40%;
    left: 80px;
}

.form-title p::before{
    content: '';
    width: 250px;
    height: 3px;
    background: #fff;
    position: absolute;
    bottom: -15px;
}

.form-content .form-heading{
    text-align: center;
    font-size: 2vmax;
}
.form {
    height: 50%;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}
.form-heading{
    margin-bottom: 20px;
}

.input{
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #222;
    outline: none;
}

.input-wrapper{
    width: 80%;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
}

.input-wrapper label{
    position: absolute;
    bottom: 4px;
    left: 1%;
    font-size: 20px;
    color: #625f63;
    z-index: -1;
    transition: .3s;
}


.input:focus ~ label{
    bottom: 30px;
}

#message{
    width: 100%;
    background: transparent;
    border: none;
    height: 30px;
    border-bottom: 1px solid #222;
    outline: none;
    resize: none;
}

.msg-wrapper{
    width: 80%;
    position: relative;
    text-align: center;
}

.msg-wrapper label{
    position: absolute;
    font-size: 20px;
    color: #625f63;
    left: 1%;
    bottom: 8px;
    z-index: -1;
    transition: .3s;
}

#message:focus ~ label{
    bottom: 40px;
}

.btn-wrapper{
    text-align: center;
}

.btn{
    background: #7d64fe;
    border: none;
    width: 100%;
    padding: 8px 20px;
    border-radius: 100px;
    cursor: pointer;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 10px;
    outline: none;
}


/*Formulario de contacto fin*/


/*Redes sociales*/


.redes {
    height: 50vh;
    width: 100%;

}

.redes .redes-sociales {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    
}

.redes .redes-sociales ul {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
}

.redes .redes-sociales ul li{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    
}

.redes .redes-sociales ul li a{
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
    list-style: none;
}

.redes .redes-sociales ul li a i{
    font-size: 100px;
    list-style: none;
}

.redes .redes-sociales ul li a:before{
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    z-index: 0;
    transition: .5s;
}

.redes .redes-sociales ul li a i{
    line-height: 50px;
    font-size: 40px;
    transform: rotateY(0deg);
    transition: .5%;
}

.redes .redes-sociales ul li:nth-child(1) a i{
    color: #3b5999;
}

.redes .redes-sociales ul li:nth-child(2) a i{
    color: #dd4b39;
}

.redes .redes-sociales ul li:nth-child(3) a i{
    color: #e4405f;
}

    /* fondo */

.redes .redes-sociales ul li:nth-child(1) a:before{
    background: #3b5999;
}

.redes .redes-sociales ul li:nth-child(2) a:before{
    background: #dd4b39;
}

.redes .redes-sociales ul li:nth-child(3) a:before{
    background: #e4405f;
}

.redes .redes-sociales ul li:hover a i{
    color: #fff;
    transform: rotateY(360deg);
    transition: .5s;
}

.redes .redes-sociales ul li:hover a:before{
    top: 0;
    transition: .5s;
}

/*Redes sociales fin*/




